<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ud81dzyfw4.database.usgovcloudapi.net,1433;Initial Catalog=pfeMentorDb;User Id=epabiutilization;Password=RTP$Pro*SqlUsr;Pooling=False;Connect Timeout=120" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ClientId" value="74bdf694-1920-4672-b06b-691d6b14e415" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientSecret" value="WJwQgl5nk9+JNwXZdVuItXU0rFq9K7uBTJh93EkmU58=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
